<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Timeseries demo</title>


  <!-- MAIN SCRIPTS -->
  <script type="text/javascript" src="/vendor/jquery-3.1.1.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.11.0/metricsgraphics.js'></script>
  
  <script src="scripts/addons/mg_line_brushing.js" type="text/javascript" charset="utf-8"></script>
 
  <script type="text/javascript" src="scripts/scripts.js"></script>

  
  <!-- STYLESHEETS -->

  <!-- <link rel='stylesheet' href="/stylesheets/home.css" type="text/css" /> -->

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/stylesheets/addons/mg_line_brushing.css" type="text/css" charset="utf-8" />
  <link href='/stylesheets/metricsgraphics.css' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/metricsgraphics-demo.css' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/highlightjs-default.css' rel='stylesheet' type='text/css'>

  

</head>

<body>

<!-- <h2 class='test'> This is a chart with a single series </h2>

<div id='ufo-sightings'></div> -->

<h2 class='test'> This is a chart with multiple series </h2>

<div id='fake_users2'></div>


<h2 class='test'> This is a chart with brushing addon </h2>

<div id='brushing'></div>
</body>
</html>
