<div class="btn-group btn-group-sm text-center split-by-controls">
  <% for (var i = 0; i < y_accessor.length; i++) { %>
    <button type="button" class="btn btn-default" data-y_accessor="<%=  y_accessor[i] %>"><%=  y_accessor[i] %></button>
  <% } %> 
</div>