body {
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 14px;
    line-height: 1.42857143;
}

h1 {
    margin: 20px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.alt-selected-message {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.buttons-area {
    display: flex;
}

.container {
  display: flex; /* or inline-flex */
  justify-content: center;
}

.controls-area {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 500px;
}


/*.dropdown-area {
    display: flex;
    justify-content: column;
}*/

#chart-area {
    margin-top: 20px;
}

.mg-header {
    cursor: default;
    font-size: 1.2rem;
}

.mg-line1-color {
  stroke: #4040e8;
}

path.mg-main-area {
  opacity: 0.2;
  stroke: none;
}

.mg-area1-color {
    fill: #0000ff;
}

.mg-markers line {
    opacity: 1;
    shape-rendering: auto;
    stroke: #b3b2b2;
    stroke-width: 1px;
}

.mg-line6-color {
    stroke: steelblue;
}

.mg-area6-color {
    fill: steelblue;
}

.mg-hover-line6-color {
    fill: steelblue;
}

.mg-line6-legend-color {
    color: steelblue;
}

.mg-line7-color {
    stroke: black;
    stroke-width: 2;
}

.mg-area7-color {
    fill: black;
}

.mg-hover-line7-color {
    fill: black;
}

.mg-line7-legend-color {
    color: black;
}

.stats-dropdown {
    margin: 4px;
}

.stats-buttons {
    margin: 4px;
}
